<%- include('partials/header') %>
<main>
    <h1>Caleb Wolfe</h1>
    <img class="profile-picture" src="/images/calebNmary.jpg" alt="Caleb and Mary">
    <p>
    </p>
</main>
<%- include('partials/footer') %>