<%- include('partials/header') %>
<main>
    <h1>Brother Keers</h1>
    <img class="profile-picture" src="/images/caleb-and-mary.jpg" alt="Brother Keers">
    <p>
    </p>
</main>
<%- include('partials/footer') %>